h1 {
  font-family: sans-serif;
text-transform: uppercase;
font-weight: bold;
font-size: 9em;
display: flex;
position: relative;
color: black;
}

.retour {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  text-decoration: none;
  position: fixed;
  left: 150px;
  top: 400px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 6em;

}



p {
  font-family: sans-serif;

font-weight: bold;
font-size: 4em;
display: flex;
position: relative;
color: black;
}


.photo-feature-container {
  display: flex;
  flex-wrap: wrap;
margin-left: 400px;
margin-top: 80px;
}


.photo-feature {
  flex-basis: 320px;
margin: 40px;
}

.photo-feature img {
  width : 300px;
}
